<div class="first-page">
  <div class="container">
    <div class="row">
      <!-- <h2>目前总共有<%= User.count %>名使用者</h2> -->
      <p class="lead"><a class="btn btn-block" href="/jobs">KEEP GO ON</a></p>
    </div>
  </div>
</div>
