<div class="first-page">
  <div class="container">
    <div class="row">
      <!-- <h2>目前总共有<%= User.count %>名使用者</h2> -->
      <p class="lead"><a class="btn btn-block" href="/jobs">KEEP GO ON</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
<h1>工作渠道</h1>
<p>Ruby on Rails 的工作职缺在国内比较小众。主要的原因是因为野生的 Ruby on Rails 程序员成长的门槛比较高，平均野生的 Ruby on Rails 程序员，长成需要 2-3 年以上的时间。

不过由于 Ruby on Rails 搭建网站程序相当高效，使用 Rails 开发的效率是 PHP 或者是 JAVA 的十倍，所以 B 轮以下的创业公司，Ruby on Rails 程序员的招收需求以及薪资十分的高。

一般来说：

偏远城市的 Junior 程序员大概是 7K 起跳，北上广是 10K 起跳
至于 1-2 年工作经历以上的程序员，大概是 13K-18K
3 年以上的 20K- 40K （需看个人技术）
比起一般水平的程序员岗位工资高上不少。</p>
</div>
</div>


<div class="row">
  <div class="text-center">
  <h1>主要的招聘渠道</h1>
<a href="http://ruby-china.org">RubyChina：招聘分页</a>
<a href="http://www.lagou.com">拉勾网：搜索 Rails</a>
<a href="https://www.zhipin.com/">Boss 直聘：搜索 Rails</a>
<a href="http://rubyconfchina.org/">研讨会上的招聘</a>
</div>
</div>
