/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


body {
  background-color: #e7e5d9;
}
 // .first-page {
 //   background-image:url('https://ws4.sinaimg.cn/large/006tNc79gy1fhyig8c9pij31kw0w07wi.jpg');
 //   background-repeat: no-repeat;
 //   background-size: cover;
 // }

 .lead {
  margin-top: 20%;
  margin-bottom: 100px;
  text-align: center;
}

.btn-block {
  color: white;//字体颜色
  background-color: rgba(255, 134, 229, 0.47);
 }

 .btn-block:hover {
   color: yellow;
   background-color: rgba(212, 128, 194, 0.62);
 }

 .custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}



/******************************navbar*********************/

 .navbar-default {
     background-color: #1C1E20;  //背景颜色
     border-color: #1C1E20; //边框色
     margin-bottom: 0; //底部 margin 不撑开距离
 }

  @media (min-width: 768px) {
    .navbar {
      border-radius: 0; //圆角为0
    }
  }

.navbar-brand > a,
.navbar-default .navbar-nav > li > a {
    color: #e7e5d9; //字体颜色
    padding: 10px 15px; //上下10px，左右15px
}

 .navbar-default .navbar-brand > a:hover,
 .navbar-default .navbar-brand > a:focus,
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #1C1E20;
   background-color: rgba(231, 229, 217, 0.7); //鼠标放置在链接上的背景颜色，这里设为透明
   text-decoration: none;
 }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
   background-color: rgba(231, 229, 217, 0.92); //鼠标放置在链接上的背景颜色，这里设为透明
    color: #212121;
  }

   .btn-danger {
       color: #fff;//字体颜色
       background-color: #EF6C00;//背景颜色
       border-color: #EF6C00;//边框颜色
   }

   .btn-danger:hover {
       background-color: #E65100;//鼠标放置在btn上的背景颜色
       border-color: #E65100;//鼠标放置在btn上的边框颜色
   }
    .btn-lg, .btn-group-lg > .btn {
     padding: 8px 16px;//通过padding来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 3px;//调整文字间距
     border-radius: 3px;//btn圆角
     width: 200px;//这里用指定宽度把btn拉得更长
 }
