// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sectionTitle {
  h3 {
    color: #ffa802;
  }
}

.sweet {
  margin-bottom: 40px;
  padding: 4%;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

hr {
  padding-bottom: 10px;
}
