
<h1>我的简历</h1>

<div class="pull-right">
  <%= link_to("新建简历", new_resume_path, :style => "font-size: 20px;") %>
</div>


<hr>

<%= render :partial => "resume", :collection => @resumes, :as => :resume %>
