<div class="container">
<div class="row">

<div class="page-header">
  <h1>我的简历 <small>Resume</small></h1>
  <a href="http://jasonzimdars.com/svn/">简历套路</a>
</div>
<div class="pull-right">
  <%= link_to("新建简历", new_resume_path, :style => "font-size: 20px;") %>
</div>

<%= render :partial => "resume", :collection => @resumes, :as => :resume %>
</div>
</div>
